body {
    background-image: url("../images/disney\ 18-12-48-927.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
h1 {
    font-size: 50px;
    border-bottom: 1px solid;
}
#wrap {
    text-align: center;
    font-family: 'Khand', sans-serif;
    width: 600px;
    height: 575px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: solid 2px white;
}
col, row{
    margin-left: 0px;

}
img{
    width: 500;
    height: 450;
}

.question, .answers, .rightAnswer, .wrongAnswer, .gameOver, .score{
    padding: 15px;
    font-size: 25px;
    margin: 10px;
    margin-top:5px;
}

.timerSection {
    margin-top: 10px;
}

.startBtn, .resetBtn{
    width: 300px;
    margin-top: 135px;
}
.option{
    float: left;
    position: static;
}

.answerBtn { 
    color: #FFFFFF; 
    background-color: lightblue; 
    border-color: #000000;
    border-radius: 30px;
    border: solid 1px;
    background-color: lightblue;
    width: 500px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
  
  } 
   
  .answerBtn:hover, 
  .answerBtn:focus, 
  .answerBtn:active, 
  .answerBtn.active, 
  .open .dropdown-toggle.answerBtn { 
    color: #FFFFFF; 
    background-color: royalblue; 
    border-color: #000000; 
    cursor: pointer;
  } 
   
  .answerBtn:active, 
  .answerBtn.active, 
  .open .dropdown-toggle.answerBtn { 
    background-image: none; 
  } 
   
  .answerBtn.disabled, 
  .answerBtn[disabled], 
  fieldset[disabled] .answerBtn, 
  .answerBtn.disabled:hover, 
  .answerBtn[disabled]:hover, 
  fieldset[disabled] .answerBtn:hover, 
  .answerBtn.disabled:focus, 
  .answerBtn[disabled]:focus, 
  fieldset[disabled] .answerBtn:focus, 
  .answerBtn.disabled:active, 
  .answerBtn[disabled]:active, 
  fieldset[disabled] .answerBtn:active, 
  .answerBtn.disabled.active, 
  .answerBtn[disabled].active, 
  fieldset[disabled] .answerBtn.active { 
    background-color: lightblue; 
    border-color: #000000; 
  } 
   
  .answerBtn .badge { 
    color: white; 
    background-color: lightblue; 
  }